* {

    margin: 0;
    padding: 0;

}

body {
    background-color: gray;
}

.tagline {
    text-align: center;

}

.tagline h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 60px;
    font-weight: 900;
}

.tagline p {
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 30px;

}


.about {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}