*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #efefef;
    font-family: sans-serif;
    background: url('cse1000.jpg');

}
  
 
.contactbox{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}
 
  .contactbox input{
        font-size:16px;
        width: 100%;
        padding: 15px 10px;
        border: 0;
        outline:none;
        border-radius: 40px;
    }

    .btn {
        cursor: pointer;
        background-color: #ffeb99;
        border-width: 5px;
        border-color: #ffcc00;
        padding: 5rem;
        font-weight: 700;
        transition: all 0.5s;
    }

    .btn:hover {
        background-color: #ffeb99;
        border: 1px solid black;
        border-width: 0 0 5px 1px;
        border-color: #ffcc00;
    }