*{
    padding: 0;
    margin: 0;

}
body{
    background: url('cse4001.jpg');
   
    background-size:cover;
  }
  

.registartion-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
}
.registartion-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}
.registartion-form p {
    font-size: 20px;
    text-align: center;
    
    margin: 15px;
}
.registartion-form input {
    font-size: 16px;
     padding: 15px 10px;
     width: 100%;
     border: 0;
     border-radius: 5px;
 outline: none;
}
.registartion-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px ;
}


   
   
     
     
