 *{
     padding: 0;
     margin: 0;

 }
 body{
    background: url('cse3003.jpg');
    background-size: cover;
    appearance:round ;
 }
     
  
 .login-form{
     width: 350px;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     position: absolute;
     
 }
 .login-form h1{
     font-size: 40px;
     text-align: center;
     
     text-transform: uppercase;
     margin: 40px;
 }
 .login-form p{
     font-size: 20px;
     margin: 15px;
     
}
     .login-form input{
         font-size:16px;
         width: 100%;
         padding: 15px 10px;
         border: 0;
         outline:none;
         border-radius: 5px;
     }

     .login-form button{
         font-size: 18px;
         font-weight: bold;
         margin: 20px 0;
         padding: 10px 15px;
         width: 50%;
         color: rgb(30, 30, 236);
       border-radius: 5px ;
    
       border: 0;

     }
  