 *{
     padding: 0;
     margin: 0;

 }
 body{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 8%, rgba(253,29,29,1) 37%, rgba(252,176,69,1) 79%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
     
  .login-form {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
  }

  .login-form h2 {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
  }

  .login-box {
    position: relative;
    width: 300px;
    margin: 30px 0;
    border-bottom: 2px solid #ffff;
  }
 
  .input-box input {
    width: 70%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 20px;
    margin: 20px;
    outline: none;
    font-size: 16px;
    color: whitesmoke;
    padding: 0 40px 0;
  }

  .remember-forgot {
    margin: -15px 0 15px;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .remember-forgot label input {
    margin-right: 4px;
  }
  button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: all 0.5s;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    transform: scale(1);
  }
  
  button:hover {
    background-color: #06436c;
    transform: scale(1.05);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    font-weight: bold;
  }
  
  .login-box .register-link {
    font: 15px;
    color: #fff;
    text-align: center;
  }
  .remember-forgot a, .register-link a {
    color: #fff;
    text-decoration: none;
  }

  .remember-forgot a:hover, .register-link a:hover {
    text-decoration: underline;
  }